
body{
    background-color: blanchedalmond;
    font-family: monospace;
}

p,h2,h1{
    
    text-align: center;
}

h1{
   font-size: 400%;
}

p{
    font-size: larger;
}

hr{
    
}

.button{
    background-color: black;
    padding: 14px 14px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: white
}
.foto{
    border-radius: 20%;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    background-color: rgb(240, 157, 56);
}

.aboutme{
    font-family: 'montserrat'

}

.trybe{
    width: 100px;
     position: absolute;
     left: 620px;
     top: 695px;
}

ul, ol{

margin: 0 auto;
width: 200px;

}

divi{
float: inline-end;

}