
body{
    background-color: blanchedalmond;
    font-family: monospace;
}

p,h2,h1{
    
    text-align: center;
}

h1{
   font-size: 400%;
}

p{
    font-size: larger;
}

.button{
    background-color: black;
    padding: 14px 14px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: white
}
.foto{
border-radius: 20%;

}

.aboutme{
    font-family: 'montserrat'
}